.App{
  margin: 0px;
}


#page1{
  height: 500px;
  width: 100%;
  background-color: black;
  margin: 0;

}

.title{
  color: white;
  margin-top: 0px;
  text-align: center;
  padding: 10px;

}

#buttonLayout{
  display: flex;
}

.keyboardInputShow{
  margin: 10px;
}

.sensorData{
  color: white;
}

#sensorLayout{
  display: flex;
}

.sensorData{
  margin: 10px;
}