.App{
  margin: 0px;
}

#header{
  display: flex;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.logoImage{
  margin-top: 30px;
  margin-left: 100px;
  margin-right: 100px;
  height: 90px;
}

#page1{
  height: 700px;
  width: 100%;
  background-color: black;
  margin: 0;

}

.title1{
  color: white;
  margin-top: 10px;
  text-align: center;
  padding: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.title2{
  color: white;
  margin-top: 0px;
  text-align: center;
  padding: 10px;
  padding-top: 0px;
}

#cameraFrame{
  display: flex;
  /* max-width: fit-content;
  margin-left: auto;
  margin-right: auto; */
}

.sensorData{
  color: white;
  margin: 10px;
}

#sensorLayoutL{
  margin-left: 28%;
}

.feed{
  margin: 5px;
}

#buttonLayout{
  display: flex;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.keyboardInputShow{
  margin: 10px;
}

#CCGShell{
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

#ccGraphic{
  width: 200px;
}

#page2{
  height: 700px;
  width: 100%;
  background-color: black;
  margin-top: 5px;

}

.bioBox{
  display: flex;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.bio{
  height: 240px;
  width: 380px;
  margin: 10px;
  border-color: white;
  background-color: white;
  padding: 5px;
  padding-left: 20px;
}

.bioImage{
  height: 250px;
  width: 250px;
  margin: 10px;
  border-color: white;
}

#page3{
  height: 700px;
  width: 100%;
  background-color: black;
  margin-top: 5px;

}

#block1{
  display: flex;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

#priusR1Image{
  height: 250px;
  margin: 10px;
}

#priusR1Bio{
  height: 240px;
  width: 800px;
  margin: 10px;
  border-color: white;
  background-color: white;
  padding: 5px;
  padding-left: 20px;
}

#block2{
  display: flex;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

#block22{
  display: flex;
  margin-bottom: 0px;
}

#priusR2Image{
  height: 250px;
  margin: 10px;
  margin-bottom: 0px;
}

#priusR2Bio{
  height: 240px;
  width: 800px;
  margin: 10px;
  border-color: white;
  background-color: white;
  padding: 5px;
  padding-left: 20px;
}

#updatedMotorImage{
  margin-top: 10px;
  height: 90px;
}

#block22Sen{
  margin-bottom: 0px;
}

#block22Under{
  margin-top: 0px;
  margin-bottom: 8px;
}

.block2text{
  margin-top: 8px;
  margin-bottom: 8px;
}